.container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
}

.container__item{
    display:grid;
    padding: 0 20px;
    border-bottom: 2px solid #e8edf1;
    
}

.container__item--first {
    background-color: #e8edf1;
    
}

.container__item--flex {
    grid-template-columns: 5fr 1fr;
}


.container__item--border {
    border-bottom: 10px solid #e8edf1;
}

.container__input {
    padding: 8px;
    width: 95%;
    border: 2px solid #e8edf1;   
}

.container__button {
    background-color: teal;
    color:#e8edf1;
    padding: 8px;
    border: 1px solid #e8edf1;
    border-radius: 4px;
}

.container__button:hover{
    cursor:pointer;
}

.container__h2 {
    font-size: 21px;
}

.container__list{
    list-style: none;
    margin-top: 0;
    padding-left:5px;
}

.container__listItem{
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    border-bottom:1px solid #e8edf1;
    margin: 20px 0;
    padding: 10px;
}

.container__listItem--through {
    text-decoration: line-through;
}

.container__listButton {
    padding: 0px;
    border: 0;
}


.container__listButton--red {
    background-color: red;
    padding: 0;
    border: 0;
}


.container__listButton--red:hover{
    cursor:pointer;
}

.container__listItem--end{
    display: grid;
    justify-content: end;
    align-content: flex-start;
}


::-webkit-input-placeholder {
    color: #9da2a5;
    }
    :-moz-placeholder { 
    color: #9da2a5;
    }
    ::-moz-placeholder { 
    color: #9da2a5;
    }
    :-ms-input-placeholder {
    color: #9da2a5;
    }

  