.container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    display: grid;
    grid-auto-rows: minmax(50px, auto);
}

.container__item{
    display:grid;
    padding: 0 20px;
    border-bottom: 2px solid #e8edf1;
}

.container__item--first {
    background-color: #e8edf1;
}

.container__item--border {
    border-bottom: 10px solid #e8edf1;
}

.container__h2 {
    font-size: 21px;
}

.container__item--flex {
    grid-template-columns: 1fr auto;
}

@media(max-width: 767px) {
    .container__item--flex {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10px, 45px);
    align-items: center;
    padding: 10px 20px;
    }
}

.container__input {
    padding: 8px;
    width: 97%;
    border: 2px solid #e8edf1;   
}

@media(max-width:767px){
    .container__input {
        width: 100%;
    }
}

.container__button {
    background-color: hsl(180, 100%, 25%);
    color:#e8edf1;
    padding: 9px;
    border: 1px solid #e8edf1;
    border-radius: 4px;
    transition: 0.5s 0.1s, 0.5s;
}

@media(max-width: 767px) {
    .container__button {
        width: 100%;
    }
}

.container__button:hover{
    cursor:pointer;
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
    
}

.container__button:active{
    background-color: hsl(180, 100%, 35%);
    transform: translateY(-10px);
}

.container__item--flexSecond{
    display: grid;
    grid-template-columns: 1fr auto;
}

@media(max-width:767px) {
    .container__item--flexSecond {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
}

.container__divRemoteButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:20px;
}

@media(max-width: 767px) {
    .container__divRemoteButtons {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        padding-bottom: 20px;
    }
    
}

.container__remoteButtons {
    display :grid;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    font-size: 18px;
    color:hsl(180, 100%, 25%);
    transition: 0.25s;
}

.container__remoteButtons:hover {
    color: hsl(180, 100%, 30%)
}

.container__remoteButtons:disabled {
    color:#ccc;
}

.container__list{
    list-style: none;
    margin-top: 0;
    padding-left:0;
}

.container__listItem{
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom:1px solid #e8edf1;
    margin: 20px 0;
    padding: 5px;
    grid-gap: 10px;
    align-items: center;
}

.container__listItem--done {
    text-decoration: line-through;
}

.container__listItem--hidden{
    display: none;
}

.container__listButton{
    width: 30px;
    height: 30px;
}

.container__listButton:hover{
    cursor:pointer;
}

.container__listButton--done {
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: 1px solid green;
    transition: 0.25s;
}

.container__listButton--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.container__listButton--red {
    background-color: hsl(0, 100%, 50%);
    padding: 0;
    border: 1px solid red;
    transition: 0.25s;
}

.container__listButton--red:hover{
    background-color: hsl(0, 100%, 65%);
}

::-webkit-input-placeholder {
    color: #9da2a5;
    }
    :-moz-placeholder { 
    color: #9da2a5;
    }
    ::-moz-placeholder { 
    color: #9da2a5;
    }
    :-ms-input-placeholder {
    color: #9da2a5;
    }

  