.remoteButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:20px;
}
    
@media(max-width: 767px) {
    .remoteButtons {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        padding-bottom: 20px;
    }
}

.remoteButtons__buttons {
    display :grid;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    font-size: 18px;
    color:hsl(180, 100%, 25%);
    transition: 0.25s;
}

.remoteButtons__buttons:hover {
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.remoteButtons__buttons:disabled {
    color:#ccc;
}