.section{
    display:grid;
    padding: 0 20px;
    border-bottom: 2px solid #e8edf1;
    box-shadow: 0 0 1px #ccc;
}

.section__h2 {
    font-size: 21px;
    margin: 0;
    padding-top: 15px;
}

.section--grid {
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #e8edf1;
}

@media(max-width:767px) {
    .section--grid {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
}

.section--borderBottom {
    border-bottom: 10px solid #e8edf1;
}